*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
}

body{
    overflow: hidden;
    background-color: 	#232b2b;
    /* overflow-x: hidden; */
}
.fan{
    position: absolute;
    left: 10%;
    /* background-color: #3b444b; */
    background-color: white;
    width: 6em;
    height: 6em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    /* box-shadow: 0px 0px 300px white; */
    filter: blur(10px);
}
.text p{
    z-index: 1;
    color: 	#232b2b;
}

p{
    line-height: 1.8em;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
